body {
    background-color: burlywood;
}

h1, .title-paragraph {
    text-align: center;
    font-weight: bold;
}

.index-h2 {
    padding: 20px;
}

.post-paragraph, .post-content {
    font-weight: bold;
}

.post-container {
    width: 80%;
    padding: 20px;
}

.link-container {
    font-weight: bold;
}

.logo-container {
    width: 100%;
    height: 100%;
}

#homepage-container, #devblog-container {
    width: 100%;
    padding-left: 20px;
}

.footer {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}